.chat-page-container {
  width: 100%;
  height: 100%;
  /* background-color: aqua; */
}
.chat-page-container > .side-bar {
  width: 25%;
  height: 100%;
  background-color: #02182b;
}
.side-bar > .icons {
  margin-top: 8%;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.search-box {
  width: 100%;
  margin-top: 5%;
  text-align: center;
}

.user-chats {
  margin-top: 5%;
}
