.reg-container {
  /* background-color: #68c5db; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-02182B-color);
  transition: background-color 500ms linear;
  /* justify-content: center; */
}

.reg-toggle {
  width: 60%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--base-color);
  background-color: var(--second-color);
}

.reg-toggle h3 {

  font-size: 0.9rem;
  border-radius: 12px;
  padding: 2%;
}

.reg-form-title {
  /* background-color: aqua; */
  width: 80%;
  flex: 1;
  padding: 3% 0 3% 10px;
  color: var(--base-color);
  background: var(--white-02182B-color);
  margin-bottom: 1%;
  border-bottom: var(--fifth-color) solid 2px;
  color: var(--third-color)
}

.reg-form {
  margin-top: 25%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
  align-items: center;
}

.reg-form>div {
  width: 100%;
  padding: 10px;
  flex: 1.5;
}

.customCssInput {
  color: var(--third-color);
}

.reg-form>div:nth-child(1) {
  margin-top: 5%;
}

.reg-form>button {
  margin-top: 5%;
  width: 40%;
  height: 15%;
  font-size: 1.2rem;
  color: var(--third-color);
  background-color: var(--fifth-color);
}

.reg-form>button:hover {
  color: var(--fifth-color);
}

:root {
  --first-color: #0197F6;
  --second-color: #d7263d;
  --third-color: #02182B;
  --fourth-color: #68C5DB;
  --fifth-color: #448FA3;
  --base-color: white;
  --background-color: white;
  --white-02182B-color: white;
}

[data-theme="dark"] {
  --first-color: #02182B;
  --second-color: #d7263d;
  --third-color: #68C5DB;
  --fourth-color: #448FA3;
  --fifth-color: #0197F6;
  --base-color: white;
  --white-02182B-color: #02182B;
  --background-color: #02182B;
  --hover-color: #0197F6;
}