.layout-container {
  width: 60%;
  height: 100%;
  display: inline-block;
  background-color: var(--white-02182B-color);
  position: relative;
  transition: background-color 500ms linear;
}

.layout-container>h1 {
  width: 100%;
  position: absolute;
  top: 20%;
  font-size: 5.2rem;
  text-align: center;
  color: white;
  z-index: 3;
  background: linear-gradient(to right, #d7263d, #02182B, #d7263d);
}

.layout-img img {
  width: 10%;
  position: absolute;
  top: 45%;
  z-index: 2;
}

.layout-description {
  color: var(--third-color);
  width: 55%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--fifth-color);
  padding-bottom: 1%;
}

:root {
  --first-color: #0197F6;
  --second-color: #d7263d;
  --third-color: #02182B;
  --fourth-color: #68C5DB;
  --fifth-color: #448FA3;
  --white-02182B-color: white;
}

[data-theme="dark"] {
  --first-color: #02182B;
  --second-color: #d7263d;
  --third-color: #68C5DB;
  --fourth-color: #448FA3;
  --fifth-color: #0197F6;
  --white-02182B-color: #02182B;
}