.login-page-container{
    width: 100%;
    height: 100%;
    display: flex;
}
.login-page-img{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 0.5px solid gray;
}

.login-page-img > img{
    width: 70%;
}

.login-page-form{
    width: 50%;
    height: 100%;
    /* background-color: saddlebrown; */
}