.login-container {
  /* background-color: #68c5db; */
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.login-title {
  /* background-color: aqua; */
  margin-top: 25%;
  width: 60%;
  padding: 3% 0 3% 10px;

  color: white;
  background: #68c5db;
  margin-bottom: 1%;
}

.login-form {
  width: 60%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid #448fa3;
  border-bottom: 1px solid #448fa3;
  /* background-color: #68c5db; */
}

.login-form > div {
  width: 100%;
  height: 8%;
}

.login-form > button {
  margin-top: 5%;
  width: 100%;
  height: 15%;
  font-size: 1.2rem;

  color: #fff;
  background-color: #448fa3;
}
